[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CryptRndTest"]
	path = CryptRndTest
	url = https://github.com/cran/CryptRndTest
[submodule "GreyZones"]
	path = GreyZones
	url = https://github.com/cran/GreyZones
[submodule "dLagM"]
	path = dLagM
	url = https://github.com/cran/dLagM
[submodule "rTableICC"]
	path = rTableICC
	url = https://github.com/cran/rTableICC
